
*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	font-size: 12px;
}
/*header样式*/
header{
	display: flex;
	align-items: center;
	width: 100%;
	height: 88px;
	background: rgb(212,61,61);
}
.news{
	padding-left: 50px;
}
.news div{
	position: relative;
	width: 34px;
	height: 28px;
	border: 2px solid white;
	border-radius: 5px;
}
.news div::before{
	position: absolute;
	content: "";
	width: 18px;
	height: 18px;
	left: 6px;
	top: -5px;
	border:2px solid white;
	border-radius: 5px;
	border-color: transparent transparent white white;
	transform: rotate(-45deg);

}
.news div::after{
	position: absolute;
	content: "";
	width: 18px;
	height: 18px;
	left: 26px;
	top: -6px;
	border-radius: 50%;
	background: white;

}
.logo{
	width: 196px;
	height: 88px;
	margin-left:180px;
	background: url(../img/logo.png) no-repeat center;
	background-size: 85%;
}
.refresh-btn{
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/2.png) no-repeat center;
	background-size: 100%;
}
.serch{
	width: 48px;
	height: 48px;
	margin-left: 166px;
	background: url(../img/1.png) no-repeat;
	background-size: 100%;
}
/*nav样式*/
nav{
	display: flex;
	width: 750px;
	height: 72px;
	line-height: 72px;
}
.nav-list{
	width: 670px;
	overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
/*	display: flex;
    justify-content: center;*/
	background: rgb(244,245,246);
}
.nav-list a{
	padding:0 25px;
	text-decoration: none;
	color: rgb(80,80,80);
	font-size: 33px;
}
.nav-list .follow{
	color: rgb(248,105,105);
}
.nav-add{
	position: relative;
    width: 80px;
    height: 72px;
    background: rgb(244,245,246); 
}
.nav-add div{
	position: absolute;
	width: 36px;
	height: 4px;
	top: 34px;
	right: 20px;
	border-radius: 10px;
    background: rgb(248,105,105);
}
.nav-add div:after{
	content: "";
	position: absolute;
	width: 36px;
	height: 4px;
	transform: rotate(90deg);
	border-radius: 10px;
    background: rgb(248,105,105);
}
.nav-add .add-shadow{
	position: absolute;
	width: 14px;
	height: 72px;
	left: -12px;
	background: url(../img/shadow.png) no-repeat center;
	background-size: contain;
}
/*section样式*/
section{
	width: 690px;
	margin: 0 auto;
}
.content-list {
	padding: 30px 0;
	border-bottom: 1px solid #D8D8D8;
}
.content-list h3{
	font-weight: normal;
	font-size: 34px;
	color: rgb(34,34,34);
	
}
.pic-list{
	display: flex;
	margin-top: 10px;
}
.pic-list li{
	width: 228px;
	height: 146px;
	list-style: none;

}
.pic-list .first-pic{
	background: url(../img/wujing.jpg);
	background-size: 100%;
}
.pic-list .second-pic{
	background: url(../img/wujing2.jpg) no-repeat;
	background-size: 120%;
	margin-left: 3px;
}
.pic-list .third-pic{
	background: url(../img/wujing3.jpg) no-repeat;
	background-size: 100%;
	margin-left: 3px;
}
.information-list{
	margin-top: 10px;
	color: rgb(153,153,153);
}
.information-list .hot{
	padding: 2px 4px;
	border: 1px solid red;
	color: red;
	font-size: 10px;
}
.hot,.classification,.comment{
	margin-right: 5px;
}
